In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
  
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
ratings = pd.read_csv("https://s3-us-west-2.amazonaws.com/recommender-tutorial/ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movies = pd.read_csv("https://s3-us-west-2.amazonaws.com/recommender-tutorial/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
n_ratings = len(ratings)
n_movies = len(ratings['movieId'].unique())
n_users = len(ratings['userId'].unique())

In [5]:
n_ratings/n_users

165.30491803278687

In [6]:
print(f"Number of ratings: {n_ratings}")
print(f"Number of unique movieId's: {n_movies}")
print(f"Number of unique users: {n_users}")
print(f"Average ratings per user: {round(n_ratings/n_users, 2)}")
print(f"Average ratings per movie: {round(n_ratings/n_movies, 2)}")

Number of ratings: 100836
Number of unique movieId's: 9724
Number of unique users: 610
Average ratings per user: 165.3
Average ratings per movie: 10.37

In [7]:
user_freq = ratings[['userId', 'movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['userId', 'n_ratings']
user_freq.head()

   userId  n_ratings
0       1        232
1       2         29
2       3         39
3       4        216
4       5         44

In [9]:
# Find Lowest and Highest rated movies:
mean_rating = ratings.groupby('movieId')[['rating']].mean()

In [12]:
mean_rating

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [13]:
# Lowest rated movies
lowest_rated = mean_rating['rating'].idxmin()

In [14]:
lowest_rated

3604

In [15]:
movies.loc[movies['movieId'] == lowest_rated]

      movieId         title   genres
2689     3604  Gypsy (1962)  Musical

In [16]:
# Highest rated movies
highest_rated = mean_rating['rating'].idxmax()
movies.loc[movies['movieId'] == highest_rated]

    movieId            title           genres
48       53  Lamerica (1994)  Adventure|Drama

In [17]:
# show number of people who rated movies rated movie highest
ratings[ratings['movieId']==highest_rated]
# show number of people who rated movies rated movie lowest
ratings[ratings['movieId']==lowest_rated]

       userId  movieId  rating   timestamp
13633      89     3604     0.5  1520408880

In [18]:
## the above movies has very low dataset. We will use bayesian average
movie_stats = ratings.groupby('movieId')[['rating']].agg(['count', 'mean'])
movie_stats.columns = movie_stats.columns.droplevel()

In [19]:
movie_stats

         count      mean
movieId
1          215  3.920930
2          110  3.431818
3           52  3.259615
4            7  2.357143
5           49  3.071429
...        ...       ...
193581       1  4.000000
193583       1  3.500000
193585       1  3.500000
193587       1  3.500000
193609       1  4.000000

[9724 rows x 2 columns]

In [20]:
# Now, we create user-item matrix using scipy csr matrix
from scipy.sparse import csr_matrix
  
def create_matrix(df):
      
    N = len(df['userId'].unique())
    M = len(df['movieId'].unique())
      
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["userId"]), list(range(N))))
    movie_mapper = dict(zip(np.unique(df["movieId"]), list(range(M))))
      
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["userId"])))
    movie_inv_mapper = dict(zip(list(range(M)), np.unique(df["movieId"])))
      
    user_index = [user_mapper[i] for i in df['userId']]
    movie_index = [movie_mapper[i] for i in df['movieId']]
  
    X = csr_matrix((df["rating"], (movie_index, user_index)), shape=(M, N))
      
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper
  
X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_matrix(ratings)

In [23]:
movie_mapper = dict(zip(np.unique(ratings["movieId"]), list(range(len(ratings['movieId'].unique())))))

In [24]:
movie_mapper

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 21: 20,
 22: 21,
 23: 22,
 24: 23,
 25: 24,
 26: 25,
 27: 26,
 28: 27,
 29: 28,
 30: 29,
 31: 30,
 32: 31,
 34: 32,
 36: 33,
 38: 34,
 39: 35,
 40: 36,
 41: 37,
 42: 38,
 43: 39,
 44: 40,
 45: 41,
 46: 42,
 47: 43,
 48: 44,
 49: 45,
 50: 46,
 52: 47,
 53: 48,
 54: 49,
 55: 50,
 57: 51,
 58: 52,
 60: 53,
 61: 54,
 62: 55,
 63: 56,
 64: 57,
 65: 58,
 66: 59,
 68: 60,
 69: 61,
 70: 62,
 71: 63,
 72: 64,
 73: 65,
 74: 66,
 75: 67,
 76: 68,
 77: 69,
 78: 70,
 79: 71,
 80: 72,
 81: 73,
 82: 74,
 83: 75,
 85: 76,
 86: 77,
 87: 78,
 88: 79,
 89: 80,
 92: 81,
 93: 82,
 94: 83,
 95: 84,
 96: 85,
 97: 86,
 99: 87,
 100: 88,
 101: 89,
 102: 90,
 103: 91,
 104: 92,
 105: 93,
 106: 94,
 107: 95,
 108: 96,
 110: 97,
 111: 98,
 112: 99,
 113: 100,
 116: 101,
 117: 102,
 118: 103,
 119: 104,
 121: 105,
 122: 106,
 123: 107,
 125: 108,
 126: 109,
 128: 110,
 129: 111,
 132: 112,
 135: 113,
 137: 114,
 140: 115,
 141: 116,
 144: 117,
 145: 118,
 146: 119,
 147: 120,
 148: 121,
 149: 122,
 150: 123,
 151: 124,
 152: 125,
 153: 126,
 154: 127,
 155: 128,
 156: 129,
 157: 130,
 158: 131,
 159: 132,
 160: 133,
 161: 134,
 162: 135,
 163: 136,
 164: 137,
 165: 138,
 166: 139,
 168: 140,
 169: 141,
 170: 142,
 171: 143,
 172: 144,
 173: 145,
 174: 146,
 175: 147,
 176: 148,
 177: 149,
 178: 150,
 179: 151,
 180: 152,
 181: 153,
 183: 154,
 184: 155,
 185: 156,
 186: 157,
 187: 158,
 188: 159,
 189: 160,
 190: 161,
 191: 162,
 193: 163,
 194: 164,
 195: 165,
 196: 166,
 198: 167,
 199: 168,
 201: 169,
 202: 170,
 203: 171,
 204: 172,
 205: 173,
 206: 174,
 207: 175,
 208: 176,
 209: 177,
 210: 178,
 211: 179,
 212: 180,
 213: 181,
 214: 182,
 215: 183,
 216: 184,
 217: 185,
 218: 186,
 219: 187,
 220: 188,
 222: 189,
 223: 190,
 224: 191,
 225: 192,
 227: 193,
 228: 194,
 229: 195,
 230: 196,
 231: 197,
 232: 198,
 233: 199,
 234: 200,
 235: 201,
 236: 202,
 237: 203,
 238: 204,
 239: 205,
 240: 206,
 241: 207,
 242: 208,
 243: 209,
 246: 210,
 247: 211,
 248: 212,
 249: 213,
 250: 214,
 251: 215,
 252: 216,
 253: 217,
 254: 218,
 255: 219,
 256: 220,
 257: 221,
 258: 222,
 259: 223,
 260: 224,
 261: 225,
 262: 226,
 263: 227,
 265: 228,
 266: 229,
 267: 230,
 269: 231,
 270: 232,
 271: 233,
 272: 234,
 273: 235,
 274: 236,
 275: 237,
 276: 238,
 277: 239,
 278: 240,
 279: 241,
 280: 242,
 281: 243,
 282: 244,
 283: 245,
 284: 246,
 285: 247,
 287: 248,
 288: 249,
 289: 250,
 290: 251,
 291: 252,
 292: 253,
 293: 254,
 294: 255,
 295: 256,
 296: 257,
 298: 258,
 299: 259,
 300: 260,
 301: 261,
 302: 262,
 303: 263,
 304: 264,
 305: 265,
 306: 266,
 307: 267,
 308: 268,
 310: 269,
 311: 270,
 312: 271,
 313: 272,
 314: 273,
 315: 274,
 316: 275,
 317: 276,
 318: 277,
 319: 278,
 320: 279,
 321: 280,
 322: 281,
 324: 282,
 325: 283,
 326: 284,
 327: 285,
 328: 286,
 329: 287,
 330: 288,
 331: 289,
 332: 290,
 333: 291,
 334: 292,
 335: 293,
 336: 294,
 337: 295,
 338: 296,
 339: 297,
 340: 298,
 341: 299,
 342: 300,
 343: 301,
 344: 302,
 345: 303,
 346: 304,
 347: 305,
 348: 306,
 349: 307,
 350: 308,
 351: 309,
 352: 310,
 353: 311,
 354: 312,
 355: 313,
 356: 314,
 357: 315,
 358: 316,
 359: 317,
 360: 318,
 361: 319,
 362: 320,
 363: 321,
 364: 322,
 365: 323,
 366: 324,
 367: 325,
 368: 326,
 369: 327,
 370: 328,
 371: 329,
 372: 330,
 373: 331,
 374: 332,
 376: 333,
 377: 334,
 378: 335,
 379: 336,
 380: 337,
 381: 338,
 382: 339,
 383: 340,
 384: 341,
 385: 342,
 386: 343,
 387: 344,
 388: 345,
 389: 346,
 390: 347,
 391: 348,
 393: 349,
 405: 350,
 406: 351,
 407: 352,
 408: 353,
 409: 354,
 410: 355,
 412: 356,
 413: 357,
 414: 358,
 415: 359,
 416: 360,
 417: 361,
 418: 362,
 419: 363,
 420: 364,
 421: 365,
 422: 366,
 423: 367,
 424: 368,
 425: 369,
 426: 370,
 427: 371,
 428: 372,
 429: 373,
 430: 374,
 431: 375,
 432: 376,
 433: 377,
 434: 378,
 435: 379,
 436: 380,
 437: 381,
 438: 382,
 440: 383,
 441: 384,
 442: 385,
 444: 386,
 445: 387,
 446: 388,
 448: 389,
 449: 390,
 450: 391,
 451: 392,
 452: 393,
 453: 394,
 454: 395,
 455: 396,
 456: 397,
 457: 398,
 458: 399,
 459: 400,
 460: 401,
 461: 402,
 464: 403,
 466: 404,
 467: 405,
 468: 406,
 469: 407,
 470: 408,
 471: 409,
 472: 410,
 473: 411,
 474: 412,
 475: 413,
 476: 414,
 477: 415,
 478: 416,
 479: 417,
 480: 418,
 481: 419,
 482: 420,
 484: 421,
 485: 422,
 486: 423,
 487: 424,
 488: 425,
 489: 426,
 490: 427,
 491: 428,
 492: 429,
 493: 430,
 494: 431,
 495: 432,
 496: 433,
 497: 434,
 499: 435,
 500: 436,
 501: 437,
 502: 438,
 504: 439,
 505: 440,
 506: 441,
 507: 442,
 508: 443,
 509: 444,
 510: 445,
 511: 446,
 512: 447,
 513: 448,
 514: 449,
 515: 450,
 516: 451,
 517: 452,
 518: 453,
 519: 454,
 520: 455,
 521: 456,
 522: 457,
 523: 458,
 524: 459,
 526: 460,
 527: 461,
 528: 462,
 529: 463,
 531: 464,
 532: 465,
 533: 466,
 534: 467,
 535: 468,
 536: 469,
 537: 470,
 538: 471,
 539: 472,
 540: 473,
 541: 474,
 542: 475,
 543: 476,
 544: 477,
 546: 478,
 547: 479,
 548: 480,
 549: 481,
 550: 482,
 551: 483,
 552: 484,
 553: 485,
 555: 486,
 556: 487,
 558: 488,
 562: 489,
 563: 490,
 564: 491,
 567: 492,
 568: 493,
 569: 494,
 573: 495,
 574: 496,
 575: 497,
 577: 498,
 579: 499,
 580: 500,
 581: 501,
 583: 502,
 585: 503,
 586: 504,
 587: 505,
 588: 506,
 589: 507,
 590: 508,
 592: 509,
 593: 510,
 594: 511,
 595: 512,
 596: 513,
 597: 514,
 599: 515,
 600: 516,
 602: 517,
 605: 518,
 606: 519,
 608: 520,
 609: 521,
 610: 522,
 611: 523,
 612: 524,
 613: 525,
 615: 526,
 616: 527,
 617: 528,
 618: 529,
 619: 530,
 626: 531,
 627: 532,
 628: 533,
 631: 534,
 632: 535,
 633: 536,
 634: 537,
 635: 538,
 636: 539,
 637: 540,
 638: 541,
 639: 542,
 640: 543,
 645: 544,
 647: 545,
 648: 546,
 649: 547,
 650: 548,
 653: 549,
 656: 550,
 661: 551,
 662: 552,
 663: 553,
 665: 554,
 667: 555,
 668: 556,
 670: 557,
 671: 558,
 673: 559,
 674: 560,
 678: 561,
 679: 562,
 680: 563,
 685: 564,
 688: 565,
 691: 566,
 692: 567,
 694: 568,
 695: 569,
 697: 570,
 698: 571,
 700: 572,
 703: 573,
 704: 574,
 706: 575,
 707: 576,
 708: 577,
 709: 578,
 710: 579,
 711: 580,
 714: 581,
 715: 582,
 718: 583,
 719: 584,
 720: 585,
 722: 586,
 724: 587,
 725: 588,
 726: 589,
 728: 590,
 731: 591,
 733: 592,
 735: 593,
 736: 594,
 737: 595,
 741: 596,
 742: 597,
 743: 598,
 745: 599,
 747: 600,
 748: 601,
 750: 602,
 757: 603,
 759: 604,
 760: 605,
 761: 606,
 762: 607,
 764: 608,
 765: 609,
 766: 610,
 773: 611,
 775: 612,
 778: 613,
 779: 614,
 780: 615,
 781: 616,
 782: 617,
 783: 618,
 784: 619,
 785: 620,
 786: 621,
 788: 622,
 790: 623,
 791: 624,
 795: 625,
 798: 626,
 799: 627,
 800: 628,
 801: 629,
 802: 630,
 803: 631,
 804: 632,
 805: 633,
 806: 634,
 808: 635,
 809: 636,
 810: 637,
 813: 638,
 818: 639,
 823: 640,
 824: 641,
 828: 642,
 829: 643,
 830: 644,
 832: 645,
 833: 646,
 835: 647,
 836: 648,
 837: 649,
 838: 650,
 839: 651,
 840: 652,
 841: 653,
 842: 654,
 848: 655,
 849: 656,
 851: 657,
 852: 658,
 858: 659,
 861: 660,
 866: 661,
 867: 662,
 869: 663,
 870: 664,
 875: 665,
 876: 666,
 879: 667,
 880: 668,
 881: 669,
 882: 670,
 885: 671,
 886: 672,
 888: 673,
 889: 674,
 891: 675,
 892: 676,
 893: 677,
 896: 678,
 897: 679,
 898: 680,
 899: 681,
 900: 682,
 901: 683,
 902: 684,
 903: 685,
 904: 686,
 905: 687,
 906: 688,
 907: 689,
 908: 690,
 909: 691,
 910: 692,
 911: 693,
 912: 694,
 913: 695,
 914: 696,
 915: 697,
 916: 698,
 917: 699,
 918: 700,
 919: 701,
 920: 702,
 921: 703,
 922: 704,
 923: 705,
 924: 706,
 926: 707,
 927: 708,
 928: 709,
 929: 710,
 930: 711,
 931: 712,
 932: 713,
 933: 714,
 934: 715,
 935: 716,
 936: 717,
 937: 718,
 938: 719,
 940: 720,
 941: 721,
 942: 722,
 943: 723,
 944: 724,
 945: 725,
 946: 726,
 947: 727,
 948: 728,
 949: 729,
 950: 730,
 951: 731,
 952: 732,
 953: 733,
 954: 734,
 955: 735,
 956: 736,
 959: 737,
 961: 738,
 963: 739,
 965: 740,
 968: 741,
 969: 742,
 970: 743,
 971: 744,
 973: 745,
 976: 746,
 979: 747,
 981: 748,
 982: 749,
 984: 750,
 986: 751,
 987: 752,
 988: 753,
 990: 754,
 991: 755,
 993: 756,
 994: 757,
 996: 758,
 998: 759,
 999: 760,
 1003: 761,
 1004: 762,
 1005: 763,
 1006: 764,
 1007: 765,
 1008: 766,
 1009: 767,
 1010: 768,
 1011: 769,
 1012: 770,
 1013: 771,
 1014: 772,
 1015: 773,
 1016: 774,
 1017: 775,
 1018: 776,
 1019: 777,
 1020: 778,
 1021: 779,
 1022: 780,
 1023: 781,
 1024: 782,
 1025: 783,
 1027: 784,
 1028: 785,
 1029: 786,
 1030: 787,
 1031: 788,
 1032: 789,
 1033: 790,
 1034: 791,
 1035: 792,
 1036: 793,
 1037: 794,
 1040: 795,
 1041: 796,
 1042: 797,
 1043: 798,
 1046: 799,
 1047: 800,
 1049: 801,
 1050: 802,
 1051: 803,
 1053: 804,
 1054: 805,
 1055: 806,
 1056: 807,
 1057: 808,
 1059: 809,
 1060: 810,
 1061: 811,
 1064: 812,
 1066: 813,
 1068: 814,
 1073: 815,
 1077: 816,
 1078: 817,
 1079: 818,
 1080: 819,
 1081: 820,
 1082: 821,
 1083: 822,
 1084: 823,
 1085: 824,
 1086: 825,
 1088: 826,
 1089: 827,
 1090: 828,
 1091: 829,
 1092: 830,
 1093: 831,
 1094: 832,
 1095: 833,
 1096: 834,
 1097: 835,
 1099: 836,
 1100: 837,
 1101: 838,
 1103: 839,
 1104: 840,
 1105: 841,
 1107: 842,
 1111: 843,
 1112: 844,
 1114: 845,
 1116: 846,
 1117: 847,
 1119: 848,
 1120: 849,
 1121: 850,
 1123: 851,
 1124: 852,
 1125: 853,
 1126: 854,
 1127: 855,
 1128: 856,
 1129: 857,
 1130: 858,
 1131: 859,
 1132: 860,
 1135: 861,
 1136: 862,
 1137: 863,
 1140: 864,
 1144: 865,
 1147: 866,
 1148: 867,
 1150: 868,
 1151: 869,
 1156: 870,
 1161: 871,
 1162: 872,
 1163: 873,
 1167: 874,
 1170: 875,
 1171: 876,
 1172: 877,
 1173: 878,
 1175: 879,
 1176: 880,
 1177: 881,
 1178: 882,
 1179: 883,
 1180: 884,
 1183: 885,
 1184: 886,
 1185: 887,
 1186: 888,
 1187: 889,
 1188: 890,
 1189: 891,
 1190: 892,
 1191: 893,
 1192: 894,
 1193: 895,
 1194: 896,
 1196: 897,
 1197: 898,
 1198: 899,
 1199: 900,
 1200: 901,
 1201: 902,
 1202: 903,
 1203: 904,
 1204: 905,
 1206: 906,
 1207: 907,
 1208: 908,
 1209: 909,
 1210: 910,
 1211: 911,
 1212: 912,
 1213: 913,
 1214: 914,
 1215: 915,
 1216: 916,
 1217: 917,
 1218: 918,
 1219: 919,
 1220: 920,
 1221: 921,
 1222: 922,
 1223: 923,
 1224: 924,
 1225: 925,
 1226: 926,
 1227: 927,
 1228: 928,
 1230: 929,
 1231: 930,
 1232: 931,
 1233: 932,
 1234: 933,
 1235: 934,
 1236: 935,
 1237: 936,
 1238: 937,
 1240: 938,
 1241: 939,
 1242: 940,
 1243: 941,
 1244: 942,
 1245: 943,
 1246: 944,
 1247: 945,
 1248: 946,
 1249: 947,
 1250: 948,
 1251: 949,
 1252: 950,
 1253: 951,
 1254: 952,
 1255: 953,
 1256: 954,
 1257: 955,
 1258: 956,
 1259: 957,
 1260: 958,
 1261: 959,
 1262: 960,
 1263: 961,
 1264: 962,
 1265: 963,
 1266: 964,
 1267: 965,
 1268: 966,
 1269: 967,
 1270: 968,
 1271: 969,
 1272: 970,
 1273: 971,
 1274: 972,
 1275: 973,
 1276: 974,
 1277: 975,
 1278: 976,
 1279: 977,
 1280: 978,
 1281: 979,
 1282: 980,
 1283: 981,
 1284: 982,
 1285: 983,
 1286: 984,
 1287: 985,
 1288: 986,
 1289: 987,
 1290: 988,
 1291: 989,
 1292: 990,
 1293: 991,
 1295: 992,
 1296: 993,
 1297: 994,
 1298: 995,
 1299: 996,
 1300: 997,
 1301: 998,
 1302: 999,
 ...}

In [25]:
from sklearn.neighbors import NearestNeighbors
"""
Find similar movies using KNN
"""
def find_similar_movies(movie_id, X, k, metric='cosine', show_distance=False):
      
    neighbour_ids = []
      
    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    k+=1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    movie_vec = movie_vec.reshape(1,-1)
    neighbour = kNN.kneighbors(movie_vec, return_distance=show_distance)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

In [26]:
movie_titles = dict(zip(movies['movieId'], movies['title']))
  
movie_id = 3
  
similar_ids = find_similar_movies(movie_id, X, k=10)
movie_title = movie_titles[movie_id]
  
print(f"Since you watched {movie_title}")
for i in similar_ids:
    print(movie_titles[i])

Since you watched Grumpier Old Men (1995)
Grumpy Old Men (1993)
Striptease (1996)
Nutty Professor, The (1996)
Twister (1996)
Father of the Bride Part II (1995)
Broken Arrow (1996)
Bio-Dome (1996)
Truth About Cats & Dogs, The (1996)
Sabrina (1995)
Birdcage, The (1996)